<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="allStudents:${students}">
        <td>th:text="${allStudents.firstName}"</td>
        <td>th:text="${allStudents.lastName}"</td>
        <td>th:text="${allStudents.email}"</td>
      </tr>
    </tbody>
  </table>
</body>
</html>